* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.wrapperSingle{
width: 100%;

}

.wrapperSingle .data {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: 100%;
height: 400px;
gap: 22px;
}

.wrapperSingle .data  h1 {
color: white;
font-size: 40px;
}

.wrapperSingle .data p:last-child {
font-style: italic;
width: 62%;
font-weight: 200;
}

.wrapperSingle .imageSingle {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
 height: 500px; 
padding-bottom: 20px;
}

.wrapperSingle .imageSingle .box_image {
width: 866px;
height: 100%;
object-fit: cover;
object-position: center;
}
.wrapperSingle .imageSingle .box_image img  {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}

.wrapperSingle .singleContent {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
}

.wrapperSingle .singleContent h4 {
font-size: 30px;
padding-bottom: 12px;
color: white;
}

.wrapperSingle .singleContent li  {
color: white;
}

.wrapperSingle .SingleObj {
display: flex;
justify-content: center;
align-items: start;
width: 71%;
flex-direction: column;
gap: 12px;
}

.wrapperSingle .sectionPost {
margin-top: 120px;
}

.wrapperSingle .sectionPost .viewAtelier {
display: flex;
flex-direction: row;
justify-content: space-around;
gap: 630px;
}

.wrapperSingle .sectionPost .viewAtelier h4 {
color: white;
font-size: 20px;
text-transform: uppercase;

}


@media screen and (max-width: 900px) {



.wrapperSingle .sectionPost .viewAtelier {
display: flex;
flex-direction: column;
gap: 15px;
margin-left: 65px;
}



 }