.footer_wrapper {

    width: 100%;
    height: 64vh;
    background-color: black;
    padding: 44px;
}

.footer_wrapper .container {


display: flex;
flex-direction: column;
gap: 12px;
justify-content: center;
align-items: center;

}

.footer_wrapper .container .logo {

width: 100px;
height: 100px;

}

.footer_wrapper .container .logo img {
width: 100%;
height: 100%;
}

.footer_wrapper .container .Footercontent {
color: var(--text-color);
}

.footer_wrapper .container .Footer_social {

display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 12px;
padding: 32px;
}

.footer_wrapper .container .Footer_social  i{

font-size: 28px;
border: 1px solid var(--text-color);
height: 40px;
width: 40px;
   transition: all 0.4s ease 0s;
    padding: 7px;
}

.footer_wrapper .container .Footer_social:hover  i{


border: 1px solid var(--primary-color);
color: var(--primary-color);

}

.footer_wrapper .Footer_copyright::before {
content: '';
width: 80%;
height: 1px;
background-color: white;
margin-bottom: 30px;
}

.footer_wrapper .Footer_copyright {
width: 100%;
background-color: black;
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
}

.footer_wrapper .Footer_copyright p {
color: var(--text-color);
}

